body {
    background-image: url(/learnCss/background.jpg);
    background-size: cover;
}

h2 {
    color:#AA3939;
    text-align: center;
    border: 3px solid rgba(255, 170, 170,0.4);
    cursor: pointer;
}


p:hover {
    color: purple;
}
 
li {
    list-style: none;
    display: inline;
}

.webtext:last-child {
    border: 2px dashed green;
}

.active {
    color: red;
}

#div1 {
    background-color: rgba(0, 0, 255,0.2);
}

#div2 {
    background-color: rgba(0, 255, 0,0.2);
}

.plorem {
    text-transform: capitalize;
    line-height: 20px;
    font-weight: normal;
    font-style: italic;
    font-size: 130%;
    font-family: 'Shadows Into Light', cursive;
}

.floatingImg {
    float: right;
}

footer {clear: both;
        text-align: center;}

.boxModel {
    border: 5px solid red;
    display: inline-block;
    padding: 30px 5px 30px 5px;
    margin: 0px 20px 0px 20px;
    width: 33px;
    height: 55px;
}        



